.root {
  border-radius: 5px;
  border: 1px solid #aaa;
  display: grid;
  font-size: 14px;
  gap: 12px;
  grid-template-columns: 1fr 4fr 1fr;
  line-height: 18px;
  margin: 6px;
  padding: 18px;
  color: #CCC;
  background-color: #222;
  cursor: pointer;
}

.root:hover {
  background-color: #111;
}

.root > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.authorColumn {
  display: inline-flex;
  gap: 6px;
  line-height: 18px;
}

.authorColumn img {
  border-radius: 50%;
  height: 18px;
  width: 18px;
}

.messageColumn {
  font-weight: 700;
}

.dateColumn {
  font-size: 12px;
  place-self: end;
}
